/* silak table*/
.account-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #ddd;
  
  }
  
  .account-table th {
    background:#4a90e2;
    width: 180px; 
    color: white;
    font-weight: bold;
    padding: 12px;
    text-align: center;
    border: 1px solid #367bc9;
    font-size: 16px;
  }
  
  .account-table td {
    width: 180px;
    max-width: 200px;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    font-size: 15px;
    color: #333;
    word-wrap: break-word;
  }
  
  .account-table input[type="text"] {
    width: 80%;
    padding: 6px;
    border: 1px solid #4a90e2;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
    outline: none;
    transition: all 0.3s ease-in-out;
  }
  
  .account-table input[type="text"]:focus {
    border-color: #367bc9;
    background-color: #eef6ff;
  }
  
  .account-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  
  .account-table tbody td:first-child {
    font-weight: bold;
    background-color: #eef2f7;
  }
  
  .account-table tbody tr:last-child {
    background-color: #4a90e2 !important;  
    font-weight: bold;
    font-size: 16px;
  }
  .account-table tbody tr:last-child td {
    color: white !important; 
    border-color: #367bc9;
  }
  
  .account-table tbody tr:last-child td {
    border-color: #367bc9;
  }