.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, #4a90e2, #76b3f0, #a6b7c9);
  padding: 20px;
}

.login-wrapper {
  display: flex;
  padding: 2rem;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
  max-width: 600px;
  width: 100%;
  align-items: center;
}

.login-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-image img {
  width: 100%;
  max-width: 250px;
  border-radius: 10px;
}

.login-form-container {
  flex: 1;
  padding: 20px;
}

.login-form {
  width: 100%;
  text-align: center;
}

.login-form h2 {
  margin-bottom: 1rem;
  color: white;
  font-size: 26px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.input-group {
  margin-bottom: 1.5rem;
  text-align: left;
}

.input-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: white;
}

.input-group input {
  width: 93%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  background: rgba(234, 230, 230, 0.87);
  color: black;
  outline: none;
  transition: all 0.3s ease-in-out;
}

.input-group input::placeholder {
  color: rgba(46, 45, 45, 0.7);
}

.input-group input:focus {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.4);
}

.login-btn {
  background: linear-gradient(to right, #4a90e2, #367bc9);
  color: white;
  border: none;
  padding: 12px;
  width: 100%;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background 0.3s, transform 0.2s;
}

.login-btn:hover {
  background: linear-gradient(to right, #367bc9, #265a9f);
  transform: translateY(-2px);
}

.error-message {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: bold;
}
